<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info"
               packages="org.apache.logging.log4j.test.appender">
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>

</Configuration>